@if (errorMessage) {
    <p class="error">{{errorMessage}}</p>
}
<div class="drawer">
    <div class="drawer-tab" (click)="toggleDrawer()" [class.open]="isDrawerOpen">
        <p>Мои офферы</p>
    </div>

    @if (isDrawerOpen) {
        <div class="overlay" (click)="toggleDrawer()"></div>
    }

    <div class="side-drawer" [class.show]="isDrawerOpen">
        <div class="drawer-header">
            <h3>Мои офферы</h3>
        </div>
    
        <div class="drawer-content">

            @for (offer of myOffers; track offer.id) {
            <div class="offer-card">

                <div class="offer-main">
                    <h4>{{offer.title}}</h4>
                    <button (click)="deleteOffer(offer.id)" class="delete-offer">Delete</button>
                </div>

                <div class="offer-details">
                    <p>Cost: {{offer.offer_value}}</p>
                    <p>Items: {{offer.items.length}}</p>
                    <p>Answers: {{offer.responses_count}}</p>
                    <p>Status: {{offer.status}}</p>
                </div>
            </div>
            } @empty {
                <p>У вас нет офферов</p>
            }
        </div>

    </div>
</div>

<div class="offers-container">

    <div class="stats">
        <h4>Total offers: {{offers.length}}</h4>
        <button (click)="openCreateModal()">Create offer</button>
    </div>

    <!-- Модальное окно -->
    @if (showCreateModal) {
        <div class="modal-overlay" (click)="showCreateModal = false">
            <div class="modal" (click)="$event.stopPropagation()">
                <h3>Создать оффер</h3>
                
                <input type="text" [(ngModel)]="newOfferTitle" placeholder="Title...">
                <label>
                    <input type="checkbox" [(ngModel)]="isPrivate">
                    Privacy
                </label>

                @if (isPrivate) {
                    <input type = "password" [(ngModel)]="offerPassword" placeholder="Пароль для оффера">
                }
                
                <h4>Выберите предметы:</h4>
                <div class="inventory-scroll-container">
                    <div class="inventory-grid">
                        @for (item of myInventory; track item.id) {
                            <div class="common-item-card" 
                                [class.selected]="selectedItems.includes(item.id)"
                                (click)="toggleItem(item.id)">
                                <input type="checkbox" [checked]="selectedItems.includes(item.id)" (click)="$event.stopPropagation()">
                                <img [src]="item.url" [alt]="item.skin_name">
                                <span>{{item.skin_name}} and {{item.wear_name}}</span>
                                <span>{{item.price}}$</span>
                            </div>
                        } @empty {
                            <p>Инвентарь пуст</p>
                        }
                    </div>
                </div>

                <button (click)="createOffer()">Создать</button>
                <button (click)="showCreateModal = false">Отмена</button>
            </div>
        </div>
    }


    <div class="active-offers">
        <h3>Активные офферы</h3>

        @for (offer of offers; track offer.id) {
        <div class="cm-offer-card">
            <div class="cm-offer-main">
                <h4>{{offer.title}}</h4>
                <button [routerLink]="['/trades', offer.id]">Войти</button>
            </div>

            <div class="cm-offer-details">
                <p>Cost: {{offer.offer_value}}</p>
                <p>Items: {{offer.items.length}}</p>
                <p>Status: {{offer.status}}</p>
            </div>
                
        </div>
        } @empty {
            <p>Нет активных офферов</p>
        }
    </div>
</div>