<p>Profile</p>

@if (profile) {
    <div class="item-card">
        {{profile.username}}
        {{profile.balance}}
        {{profile.cases_opened_count}}
        {{profile.total_drop_value}}
        {{profile.inventory_value}}
        {{profile.date_joined}}
    </div>
    <button (click)="logout()">Logout</button>
}

@for (item of inventoryItems; track item.id) {
    <div class="item-card">
        {{item.skin_name}}
        {{item.price}}
    </div>
} @empty {
    <p>Inventory is empty</p>
}

@if (errorMessage) {
    <p class="error">{{errorMessage}}</p>
}
