<input class="search-bar" type="text" placeholder="Search..." [(ngModel)]="searchText" (input)="sortSkins()">

<select [(ngModel)]="sortBy" (change)="sortSkins()">
  <option value="default">Default</option>
  <option value="price_asc">Price ↑</option>
  <option value="price_desc">Price ↓</option>
  <option value="date_asc">Date ↑</option>
  <option value="date_desc">Date ↓</option>
</select>

@for (skin of sortedSkins; track skin.id) {
    <div class="skin-card">
        {{skin.user_username}}
        {{skin.skin_name}}
        {{skin.price}}
        <button class="addBtn" (click)="addToCart(skin.id)">Add to Cart</button>
    </div>
} @empty {
    <p>Skins not found</p>
}

@if (errorMessage) {
    <p class="error">{{errorMessage}}</p>
}