<h2>Shop</h2>

<input class="search-bar" type="text" placeholder="Search..." [(ngModel)]="searchText" (input)="filterSkins()">

<select [(ngModel)]="sortBy" (change)="filterSkins()">
  <option value="default">Default</option>
  <option value="price">Price</option>
  <option value="name">Name</option>
  <option value="quality">Quality</option>
</select>

@for (skin of filteredSkins; track skin.id) {
    <div class="skin-card">
        {{skin.name}}
        {{skin.price}}
        <button class="addBtn" (click)="addToCart(skin.id)">Add to Cart</button>
    </div>
} @empty {
    <p>Skins not found</p>
}

@if (errorMessage) {
    <p class="error">{{errorMessage}}</p>
}