@if (isLoggedIn()) {
  <nav>
    <div class="chapters">
      <div class="left-chapters">
        <span class="nav-item nav-logo" routerLink="/shop">
          <img src="/images/logo.png" alt="logo">
        </span>
        <a class="nav-item" routerLink="/shop" routerLinkActive="is-active">Shop</a>
        <a class="nav-item" routerLink="/trades" routerLinkActive="is-active">Trades</a>
        <a class="nav-item" routerLink="/cases" routerLinkActive="is-active">Cases</a>
        <a class="nav-item" routerLink="/gangs" routerLinkActive="is-active">Gangs</a>
      </div>
    </div>

      <div class="right-chapters">
        <span class="nav-item nav-cart" routerLink="/cart" routerLinkActive="is-active">
          <p>Cart</p>
        </span>
      </div>

        
      <div class="user-area">
        <a routerLink="/inventory">{{profile?.username}}</a>
        <p>{{profile?.balance}}</p>
      </div>
  </nav>
}