<div class="cart-page">

  <p class="cart-title">Cart</p>

  @for (item of cartItems; track item.id) {
    <div class="item-card">
      <span class="skin-name">{{ item.skin_name }} | {{item.wear_name}}</span>
      <img [src]="item.url" alt="{{item.skin_name}}" class="skin-image">
      <span class="price">${{ item.price }}</span>
      <button class="removeBtn" (click)="removeFromCart(item.id)">✕ Remove</button>
    </div>
  } @empty {
    <p class="empty">Your cart is empty</p>
  }

  @if (errorMessage) {
    <p class="error">⚠ {{ errorMessage }}</p>
  }

  <div class="cart-footer">
    <p class="total">Total: <span>${{ totalSum() }}</span></p>
    <button class="buyBtn" (click)="buyCart()" [disabled]="cartItems.length === 0">
      Buy All Items
    </button>
  </div>

</div>